@import "tailwindcss";

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 25s linear infinite;
  }
  .animate-marquee:hover {
    animation-play-state: paused; /* Se frena cuando el usuario pasa el mouse por arriba */
  }
}